@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800');

* {
  font-family: 'JetBrains Mono', monospace;
}

body {
  scroll-behavior: smooth;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0 0 1em;
}

.hidden {
  display: none;
}

/**************************************************/

:root {
  --top-bar-logo-height: 4rem;
  --top-bar-elements-margin: 15px;
  --top-bar-navigation-font-size: 1.2rem;
  --top-bar-navigation-text-gap: 1.5rem;
}

/**************************************************/

.top-bar-container {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid black;

  .logo, .navigation {
    margin: var(--top-bar-elements-margin);
  }

  .logo > img {
    height: var(--top-bar-logo-height);
    width: auto;
  }

  .navigation nav {
    margin-right: var(--top-bar-navigation-text-gap);

    ul {
      list-style: none;

      display: flex;
      flex-flow: row nowrap;
      gap: var(--top-bar-navigation-text-gap);

      li > a {
        color: black;
        text-decoration: none;
        cursor: pointer;

        font-size: var(--top-bar-navigation-font-size);
      }
    }

    button {
      background: none;
      border: none;
      cursor: pointer;

      display: none;

      img {
        height: calc(var(--top-bar-navigation-font-size) * 2);
      }
    }
  }
}

.small-navigation {
  border-bottom: 1px solid black;

  nav > ul {
    list-style: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    li > a {
      color: black;
      text-decoration: none;
      cursor: pointer;

      font-size: var(--top-bar-navigation-font-size);
    }
  }
}

/***/

.main-container {
  display: flex;
  flex-flow: row nowrap;

  border-bottom: 1px solid black;

  .sidebar {
    border-right: 1px solid black;

    .close-btn-container {
      padding: 20px;
      /*box-shadow: 0 5px 20px -10px black;*/

      img {
        height: 20px;
        cursor: pointer;
      }
    }

    .sidebar-content {
      display: flex;
      flex-flow: column nowrap;
      gap: 1vh;

      padding: 20px;
      width: 300px;
    }
  }

  .main-content > main {
    padding: 100px;
  }
}

.sidebar-show {
  position: fixed;
  left: 20px;
  bottom: 120px;

  cursor: pointer;

  background: none;
  border: none;
  margin: 0;
  padding: 0;

  img {
    height: 50px;
  }
}

/***/

.footer-container > footer {
  padding: 20px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/***/

.top-scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  cursor: pointer;

  img {
    height: 50px;
  }
}

/**************************************************/

@media (max-width: 50rem) {
  .top-bar-container > .navigation nav {
    ul {
      display: none;
    }

    button {
      display: block;
    }
  }
}
